backend/n8n_telegram_workflow.json
{
  "name": "Telegram HR & Mentor Automation - CampusBuddy",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the message text from Telegram\nconst message = $input.first().json.message.text;\nconst chatId = $input.first().json.message.chat.id;\nconst fromUser = $input.first().json.message.from;\n\n// Parse format: \"Name action\" where action is one of the valid statuses\n// Supported: hired, completed, approved, rejected, offered, shortlisted\nconst regex = /^(.+?)\\s+(offered|hired|rejected|shortlisted|completed|approved)$/i;\nconst match = message.match(regex);\n\nif (!match) {\n  return {\n    json: {\n      success: false,\n      error: \"Invalid format. Use: 'StudentName hired' or 'StudentName approved'\",\n      chatId: chatId\n    }\n  };\n}\n\nconst studentName = match[1].trim();\nconst status = match[2].toLowerCase();\n\n// Determine action type for response message\nlet actionType = 'HR Action';\nif (status === 'approved' || status === 'rejected') {\n  actionType = 'Mentor Action';\n}\n\nreturn {\n  json: {\n    success: true,\n    studentName: studentName,\n    status: status,\n    actionType: actionType,\n    chatId: chatId,\n    originalMessage: message,\n    fromUser: fromUser.first_name || fromUser.username\n  }\n};"
      },
      "id": "parse-message",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-parse-success",
      "name": "Check Parse Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/api/integrations/update-status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "n8n-secret-key-123"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"studentName\": \"{{ $json.studentName }}\",\n  \"status\": \"{{ $json.status }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "update-status-api",
      "name": "Update Application Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-api-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-api-success",
      "name": "Check API Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').item.json.chatId }}",
        "text": "=✅ *{{ $('Parse Message').item.json.actionType }} Successful!*\n\n👤 *Student:* {{ $json.data.student }}\n🏢 *Internship:* {{ $json.data.internship }}\n📋 *Status:* *{{ $json.data.status.toUpperCase() }}*\n\n👨‍💼 _Action by: {{ $('Parse Message').item.json.fromUser }}_\n\n{{ $json.data.status === 'completed' ? '🎓 _Student can now initialize their Internship Performance Passport (IPP) from their dashboard._' : '' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-success-message",
      "name": "Send Success Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1350, 100],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=❌ *Error*\n\n{{ $json.error }}\n\n*Valid formats:*\n• `Priya hired` - Mark as completed (HR)\n• `Jon approved` - Approve application (Mentor)\n• `Jon rejected` - Reject application (Mentor)\n• `Priya offered` - Mark as offered\n\n*Valid actions:* hired, completed, approved, rejected, offered, shortlisted",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-parse-error",
      "name": "Send Parse Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [910, 400],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').item.json.chatId }}",
        "text": "=❌ *API Error*\n\nCould not update status for *{{ $('Parse Message').item.json.studentName }}*\n\nError: {{ $json.error || 'Student not found or already updated' }}\n\n_Please check if the student exists in the database._",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-api-error",
      "name": "Send API Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1350, 300],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Check Parse Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Parse Success": {
      "main": [
        [
          {
            "node": "Update Application Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Application Status": {
      "main": [
        [
          {
            "node": "Check API Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Success": {
      "main": [
        [
          {
            "node": "Send Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
