backend/n8n_telegram_workflow.json
{
  "name": "Telegram HR Automation - CampusBuddy",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the message text from Telegram\nconst message = $input.first().json.message.text;\nconst chatId = $input.first().json.message.chat.id;\n\n// Parse format: \"Name hired\" or \"Name offered\" etc.\nconst regex = /^(.+?)\\s+(offered|hired|rejected|shortlisted|completed)$/i;\nconst match = message.match(regex);\n\nif (!match) {\n  return {\n    json: {\n      success: false,\n      error: \"Invalid format. Use: 'StudentName hired' or 'StudentName offered'\",\n      chatId: chatId\n    }\n  };\n}\n\nconst studentName = match[1].trim();\nconst status = match[2].toLowerCase();\n\nreturn {\n  json: {\n    success: true,\n    studentName: studentName,\n    status: status,\n    chatId: chatId,\n    originalMessage: message\n  }\n};"
      },
      "id": "parse-message",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-parse-success",
      "name": "Check Parse Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/api/integrations/update-status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "n8n-secret-key-123"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"studentName\": \"{{ $json.studentName }}\",\n  \"status\": \"{{ $json.status }}\"\n}",
        "options": {}
      },
      "id": "update-status-api",
      "name": "Update Application Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').item.json.chatId }}",
        "text": "=✅ *Status Updated Successfully!*\n\n👤 Student: {{ $json.data.student }}\n🏢 Internship: {{ $json.data.internship }}\n📋 New Status: *{{ $json.data.status.toUpperCase() }}*\n\n_The student can now initialize their IPP._",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-success-message",
      "name": "Send Success Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1130, 200],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=❌ *Error*\n\n{{ $json.error }}\n\n*Valid formats:*\n• `Priya hired`\n• `Jon Snow offered`\n• `StudentName completed`\n\n*Valid statuses:* offered, hired, rejected, shortlisted, completed",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-parse-error",
      "name": "Send Parse Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [910, 400],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').item.json.chatId }}",
        "text": "=❌ *API Error*\n\nCould not update status for *{{ $('Parse Message').item.json.studentName }}*\n\nError: {{ $json.error || 'Unknown error' }}\n\n_Please check if the student exists in the database._",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-api-error",
      "name": "Send API Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1130, 340],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Check Parse Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Parse Success": {
      "main": [
        [
          {
            "node": "Update Application Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Application Status": {
      "main": [
        [
          {
            "node": "Send Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Send API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
